/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-size: 10px;
  font-family: sans-serif;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
h1{
  font-size: 2rem;
  text-align: center;
  letter-spacing: 3px;
}
h2{
  font-size: 2em;
  letter-spacing: 1;
}
p,li{
  line-height: 1.5;
  letter-spacing: 0.5;
  word-spacing: 0.9;
  font-size: 1rem;

}
p{
  text-indent: 20px;
}
a:active:{
  color: red;
}
a:hover, a:focus{
  color: red;
  text-decoration: none;
  outline: none;
}
